@{
    ViewData["Title"] = "Cartão Inválido";
}

<div class="text-center">
    <h1 class="display-4">Erro!</h1>
    <div class="container">
        <div class="alert alert-danger">O cartão informado é inválido.</div>
    </div>
</div>
