@{
    ViewData["Title"] = "Home Page";
}

@model Cartao

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <div class="saldo-container">
        <h1 class="saldo-titulo">Seu Saldo</h1>
        <p class="saldo-valor">R$ 1.000,00</p>
    </div>
</div>
