@{
    ViewData["Title"] = "Home Page";
}

@model Cartao

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <div class="saldo-container">
        <h1 class="saldo-titulo">Seu Saldo</h1>
        <p class="saldo-valor">R$ 1.000,00</p>
    </div>
    @using (Html.BeginForm("CreateCartaoForm", "Home"))
    {
        @Html.LabelFor(o => o.Numero)
        @Html.EditorFor(o => o.Numero, new { htmlAttributes = new { @class = "form-control" } })

        @Html.LabelFor(o => o.DataValidade)
        @Html.EditorFor(o => o.DataValidade, new { htmlAttributes = new { @class = "form-control" } })

        <button class="btn btn-primary mt-4" type="submit">Enviar</button>
    }
</div>
