@{
    ViewData["Title"] = "Saldo Insuficiente";
}

<div class="text-center">
    <h1 class="display-4">Erro!</h1>
    <div class="container">
        <div class="alert alert-danger">Saldo insuficiente para o valor informado.</div>
    </div>
</div>
