@{
    ViewData["Title"] = "Senha Incorreta";
}

<div class="text-center">
    <h1 class="display-4">Erro!</h1>
    <div class="container">
        <div class="alert alert-danger">O senha informada está incorreta.</div>
    </div>
</div>
